body {
  font-family: 'Poppins', sans-serif;
}

.custom-header {
  background-color: #333;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-link {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.right-nav {
  text-align: right;
}
.user-dropdown {
  position: relative;
  display: inline-block;
}
.user-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.user-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}
.user-menu-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
